<div id="aggregator" class="aggregator-container">
  <div class="background-container">
    <img src="assets/image/aggregator.jpg" class="aggregator-background" alt="aggregator background" />
    <div class="aggregator-header">
      <div class="aggregator-text">
        <h2 class="section-title">Why Choose Our<br><span class="highlight">API Aggregator?</span></h2>
        <p class="section-description">
          Our API aggregator is designed to help operators and Integrators quickly scale their sportsbook offerings ahead of World Cup 2026. With ultra-low latency and multi-market coverage, we ensure your platform stays competitive.
        </p>
      </div>

      <div class="aggregator-visual">
        <img src="assets/image/Mask group.png" alt="Mobile Betting App" class="mobile-image">
      </div>
    </div>

    <div class="comparison-table">
      <div class="table-row table-header table-header-row">
        <div class="cell table-head function-col">Function</div>
        <div class="cell table-head our-api-col">Our API <img src="assets/image/icon_correct.png" alt="check" class="tick-icon-img"></div>
        <div class="cell table-head traditional-col">Traditional Suppliers</div>
      </div>

      <div id="api-table-body">
        <div class="table-row data-row">
          <div class="cell function-col">Multi-sports event support</div>
          <div class="cell our-api-col">World Cup · 300+ Leagues <img src="assets/image/icon_correct.png" alt="check" class="tick-icon-img"></div>
          <div class="cell trad-col">Limited league</div>
        </div>

        <div class="table-row data-row">
          <div class="cell function-col">Quick integration</div>
          <div class="cell our-api-col">Completed within 7 days <img src="assets/image/icon_correct.png" alt="check" class="tick-icon-img"></div>
          <div class="cell trad-col">1–3 months</div>
        </div>

        <div class="table-row data-row">
          <div class="cell function-col">Live Odds Updates</div>
          <div class="cell our-api-col">&lt;1 second delay <img src="assets/image/icon_correct.png" alt="check" class="tick-icon-img"></div>
          <div class="cell trad-col">3–10 second delay</div>
        </div>

        <div class="table-row data-row">
          <div class="cell function-col">Multi-language / multi-currency</div>
          <div class="cell our-api-col">10+ languages & currencies <img src="assets/image/icon_correct.png" alt="check" class="tick-icon-img"></div>
          <div class="cell trad-col">English / US Dollar only</div>
        </div>
      </div>
    </div>

    <div class="cta-buttons aggregator-button">
      <a href="#" class="btn btn-primary">Request Integration Guide</a>
    </div>
  </div>
</div>