<div id="aggregator" class="aggregator-container">
  <div class="background-container">
    <img src="assets/image/aggregator.jpg" class="aggregator-background" alt="aggregator background" />
    <div class="aggregator-header">
      <div class="aggregator-text">
        <h2 class="section-title">{why_choose_api}<br><span class="highlight2">{highlight_api}</span></h2>
        <p class="section-description">
          {aggregator_description}
        </p>
      </div>

      <div class="aggregator-visual">
        <img src="assets/image/Mask group.png" alt="Mobile Betting App" class="mobile-image">
      </div>
    </div>

    <div class="comparison-table">
      <div class="table-row table-header table-header-row">
        <div class="cell table-head function-col">{function}</div>
        <div class="cell table-head our-api-col">{our_api} <img src="assets/image/icon_correct.png" alt="check" class="tick-icon-img"></div>
        <div class="cell table-head traditional-col">{traditional_suppliers}</div>
      </div>

      <div id="api-table-body">
        <div class="table-row data-row">
          <div class="cell function-col">{multi_sports_support}</div>
          <div class="cell our-api-col">{multi_sports_our_api} <img src="assets/image/icon_correct.png" alt="check" class="tick-icon-img"></div>
          <div class="cell trad-col">{multi_sports_traditional}</div>
        </div>

        <div class="table-row data-row">
          <div class="cell function-col">{quick_integration}</div>
          <div class="cell our-api-col">{quick_integration_our_api} <img src="assets/image/icon_correct.png" alt="check" class="tick-icon-img"></div>
          <div class="cell trad-col">{quick_integration_traditional}</div>
        </div>

        <div class="table-row data-row">
          <div class="cell function-col">{live_odds_updates}</div>
          <div class="cell our-api-col">{live_odds_our_api} <img src="assets/image/icon_correct.png" alt="check" class="tick-icon-img"></div>
          <div class="cell trad-col">{live_odds_traditional}</div>
        </div>

        <div class="table-row data-row">
          <div class="cell function-col">{multi_language_currency}</div>
          <div class="cell our-api-col">{multi_lang_our_api} <img src="assets/image/icon_correct.png" alt="check" class="tick-icon-img"></div>
          <div class="cell trad-col">{multi_lang_traditional}</div>
        </div>
      </div>
    </div>

    <div class="cta-buttons aggregator-button">
      <a href="#" class="btn btn-primary">{request_integration_guide}</a>
    </div>
  </div>
</div>

<script src="assets/js/aggregator.js"></script>
