<div id="api-aggregator" class="api-aggregator-container">
  <div class="api-aggregator-content">
    <div class="api-aggregator-mask"><img src="assets/image/api_aggregator_mask.png" /></div>
    <div class="api-aggregator-main-info">
      <div class="api-aggregator-info">
        <div class="header">{aggregator_header}</div>
        <div class="title">{aggregator_title}</div>
        <div class="info">{aggregator_subtitle}</div>
      </div>
      <table class="api-aggregator-table">
        <tr>
          <th>{table_function}</th>
          <th class="active">{table_our_api}</th>
          <th>{table_other_api}</th>
        </tr>
        <tr>
          <td>{table_multi_sports}</td>
          <td class="active">{table_our_sports}</td>
          <td>{table_other_sports}</td>
        </tr>
        <tr>
          <td>{table_integration}</td>
          <td class="active">{table_our_integration}</td>
          <td>{table_other_integration}</td>
        </tr>
        <tr>
          <td>{table_odds}</td>
          <td class="active">{table_our_odds}</td>
          <td>{table_other_odds}</td>
        </tr>
        <tr>
          <td>{table_language}</td>
          <td class="active">{table_our_language}</td>
          <td>{table_other_language}</td>
        </tr>
      </table>
      <div class="button-group">
        <a href="https://t.me/sbo568winmk" class="B_WC26_Compare_GetAPIDemo btn-primary" target="_blank">{get_api_demo}</a>
      </div>
    </div>
  </div>
</div>