<div id="banner" class="banner-container">
  <div class="background-container">
    <img src="assets/image/header.jpg" class="banner-background" />
  </div>
  <div class="banner-content">
    <div class="content-header">YOUR 2026 WORLD CUP IN ONE CLICK</div>
    <div class="content-info">Connect 568Win Sportsbook and start FIFA 2026 bets</div>
    <div class="button-group">
      <a href="https://t.me/sbo568winmk" class="btn-primary" target="_blank">Talk to Us</a>
      <a href="https://www.568win.com/API.html" class="btn-secondary" target="_blank">Our Website</a>
    </div>
  </div>
</div>