<div class="banner-container">
  <div class="background-container">
    <img src="assets/image/header.jpg" class="banner-background" />
    <div class="banner-content">
        <h1 class="main-title">{banner_title}</h1>
        <p class="subtitle">
            {banner_subtitle}
        </p>
        <div class="cta-buttons">
            <a href="#" class="btn btn-primary">{banner_cta_primary}</a>
            <a href="#" class="btn btn-secondary">{banner_cta_secondary}</a>
        </div>
    </div>
  </div>
</div>