<div class="banner-container">
  <div class="background-container">
    <img src="assets/image/header.jpg" class="banner-background" />
    <div class="banner-content">
        <h1 class="main-title">YOUR 2026 WORLD CUP IN ONE CLICK</h1>
        <p class="subtitle">
            Connect 568Win Sportsbook and start FIFA 2026 bets
        </p>
        <div class="cta-buttons">
            <a href="#" class="btn btn-primary">Talk to Us</a>
            <a href="#" class="btn btn-secondary">Our Website</a>
        </div>
    </div>
  </div>
</div>