<div id="competitive" class="competitive-container">
  <div class="competitive-content">
    <div class="competitive-main-container">
      <div class="competitive-intro">
        <div class="content-header">{competitive_header}</div>
        <div class="content-info">{competitive_subtitle}</div>
        <div class="betting-intro">
          <div class="intro-item">
            <div class="icon"><img src="assets/image/icons/icon_correct.png" /></div>
            <div class="content">{competitive_feature1}</div>
          </div>
          <div class="intro-item">
            <div class="icon"><img src="assets/image/icons/icon_correct.png" /></div>
            <div class="content">{competitive_feature2}</div>
          </div>
          <div class="intro-item">
            <div class="icon"><img src="assets/image/icons/icon_correct.png" /></div>
            <div class="content">{competitive_feature3}</div>
          </div>
          <div class="intro-item">
            <div class="icon"><img src="assets/image/icons/icon_correct.png" /></div>
            <div class="content">{competitive_feature4}</div>
          </div>
          <div class="intro-item">
            <div class="icon"><img src="assets/image/icons/icon_correct.png" /></div>
            <div class="content">{competitive_feature5}</div>
          </div>
          <div class="intro-item">
            <div class="icon"><img src="assets/image/icons/icon_correct.png" /></div>
            <div class="content">{competitive_feature6}</div>
          </div>
          <div class="intro-item">
            <div class="icon"><img src="assets/image/icons/icon_correct.png" /></div>
            <div class="content">{competitive_feature7}</div>
          </div>
        </div>
        <div class="button-group">
          <a href="#start-now" class="B_WC26_Opportunity_DownloadGuide btn-primary">{download_guide}</a>
        </div>
      </div>
      <div class="competitive-mask"><img src="assets/image/competitive_mask.png" /></div>
    </div>
  </div>
</div>