<div id="copy-right">
  <div class="copy-right-container">
    <div class="copy-right-content">
      <div class="copy-right-button-group">
        <a href="https://www.568win.best/API.html" class="copy-right-icon"><img src="assets/image/icons/website_blue.png" /></a>
        <a href="https://t.me/sbo568winmk" class="copy-right-icon"><img src="assets/image/icons/telegram_blue.png" /></a>
        <a href="https://www.instagram.com/sbobet_568win_asia" class="copy-right-icon"><img src="assets/image/icons/instagram_blue.png" /></a>
      </div>
      <div class="copyright-info">© 2025 by 568Win Powered and secured by SBOBET</div>
    </div>
  </div>
</div>