<div id="faq" class="faq-container">
  <div class="faq-content">
    <div class="faq-mask-group">
      <div class="mask-chip-1"><img src="assets/image/faq_chip_1.png" /></div>
      <div class="mask-chip-2"><img src="assets/image/faq_chip_2.png" /></div>
    </div>
    <div class="faq-main-info">
      <div class="header">Frequently Asked Questions</div>
      <div class="info">
        <div>How fast can integration be done?</div>
        <div>Do you support live betting?</div>
        <div>Which languages & currencies are available?</div>
        <div>How fast can integration be done?</div>
        <div>How fast can integration be done?</div>
        <div>How fast can integration be done?</div>
      </div>
    </div>
  </div>
</div>