<div id="faq" class="faq-container">
 <div class="faq-container-wrapper">
        <h2 class="hero-title">Frequently Asked Questions</h2>
        <div class="faq-content-wrapper">
            
            <div class="faq-column faq-list">
                
                <div class="faq-item">
                    <a href="" class="faq-question">How fast can integration be done?</a>
                    <div class="faq-line"></div>
                </div>
                <div class="faq-item">
                    <a href="" class="faq-question">Do you support live betting?</a>
                    <div class="faq-line"></div>
                </div>
                <div class="faq-item active-item">
                    <a href="#" class="faq-question">Which languages & currencies are available?</a>
                    <div class="faq-line active-line"></div>
                    </div>
                <div class="faq-item">
                    <a href="#" class="faq-question">How fast can integration be done?</a>
                    <div class="faq-line"></div>
                </div>
                <div class="faq-item">
                    <a href="#" class="faq-question">How fast can integration be done?</a>
                    <div class="faq-line"></div>
                </div>
                <div class="faq-item">
                    <a href="#" class="faq-question">How fast can integration be done?</a>
                    <div class="faq-line"></div>
                </div>
            </div>
            <div class="faq-column faq-image-column">
                <img src="assets/image/faq/chip-1.png" alt="Black Casino Chip" class="chip-top" style="width: 240px;" >
                <img src="assets/image/faq/chip-2.png" alt="White Casino Chip" class="chip-bottom">
            </div>
        </div>
    </div>
</div>