<div id="features" class="feature-container">
  <div class="gradient-background-color"></div>
  <div class="feature-content">
    <div class="feature-header">Key Features of Our API</div>
    <div class="card-container-render">
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_odd.png" /></div>
        <div class="title">Odds & Live Data</div>
        <div class="info">Ultra-fast updates for all World Cup matches</div>
      </div>
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_risk.png" /></div>
        <div class="title">Risk Management</div>
        <div class="info">Built-in trading and risk controls</div>
      </div>
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_promotion.png" /></div>
        <div class="title">Player Engagement</div>
        <div class="info">H2H stats, leaderboards, and data widgets</div>
      </div>
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_flexible.png" /></div>
        <div class="title">Flexible Integration</div>
        <div class="info">RESTful API, SDK, and 24/7 technical support</div>
      </div>
    </div>
    <div class="button-group">
      <div class="btn-primary">Talk to Us</div>
    </div>
  </div>
</div>