<div id="features" class="feature-container">
  <div class="gradient-background-color">
      <h2 class="section-title">Key Features of Our API</h2>
        <div class="feature-cards-grid">
            <div class="feature-card">
                <div class="feature-icon icon-engagement">
                    <img src="assets/image/feature/feature-1.png" alt="Engagement Icon">
                </div>
                <h3 class="card-title">Odds & Live Data</h3>
                <p class="card-description">
                    Ultra-fast updates for all World Cup matches
                </p>
            </div>
            <div class="feature-card">
                <div class="feature-icon icon-engagement">
                    <img src="assets/image/feature/feature-2.png" alt="Engagement Icon">
                </div>
                <h3 class="card-title">Risk Management</h3>
                <p class="card-description">
                    Built-in trading and risk controls
                </p>
            </div>

            <div class="feature-card">
                <div class="feature-icon icon-engagement">
                   <img src="assets/image/feature/feature-3.png" alt="Engagement Icon">
                </div>
                <h3 class="card-title">Player Engagement</h3>
                <p class="card-description">
                    HOTSPOTS data, leaderboards, and stats
                </p>
            </div>
            <div class="feature-card">
                <div class="feature-icon icon-engagement">
                  <img src="assets/image/feature/feature-4.png" alt="Engagement Icon">
                </div>
                <h3 class="card-title">Flexible Integration</h3>
                <p class="card-description">
                    RESTful API, SDK, and 24/7 technical support
                </p>
            </div>
        </div>
        <div class="cta-buttons">
            <a href="#" class="btn btn-primary">Talk to Us</a> 
        </div>
  </div>
</div>