<div id="features" class="feature-container">
  <div class="gradient-background-color">
      <h2 class="section-title">{features-title}</h2>
        <div class="feature-cards-grid">
            <div class="feature-card">
                <div class="feature-icon icon-engagement">
                    <img src="assets/image/feature/feature-1.png" alt="{odds_live_data_icon}">
                </div>
                <h3 class="card-title">{odds_live_data}</h3>
                <p class="card-description">
                    {odds_live_data_desc}
                </p>
            </div>
            <div class="feature-card">
                <div class="feature-icon icon-engagement">
                    <img src="assets/image/feature/feature-2.png" alt="{risk_management_icon}">
                </div>
                <h3 class="card-title">{risk_management}</h3>
                <p class="card-description">
                    {risk_management_desc}
                </p>
            </div>

            <div class="feature-card">
                <div class="feature-icon icon-engagement">
                   <img src="assets/image/feature/feature-3.png" alt="{player_engagement_icon}">
                </div>
                <h3 class="card-title">{player_engagement}</h3>
                <p class="card-description">
                    {player_engagement_desc}
                </p>
            </div>
            <div class="feature-card">
                <div class="feature-icon icon-engagement">
                  <img src="assets/image/feature/feature-4.png" alt="{flexible_integration_icon}">
                </div>
                <h3 class="card-title">{flexible_integration}</h3>
                <p class="card-description">
                    {flexible_integration_desc}
                </p>
            </div>
        </div>
        <div class="cta-buttons">
            <a href="#" class="btn btn-primary">{talk_to_us}</a> 
        </div>
  </div>
</div>
