<div id="markets" class="market-container">
    <div class="market-content-wrapper"> 
        <div class="hero-content">
            <h1 class="hero-title">
                Always Stable.<br> <span class="highlight1">Always Ready.</span>
            </h1>
            <ul class="benefit-list">
                <li class="benefit-item">No crashes. No breaks. Always on.</li>
                <li class="benefit-item">Works fast, even when everyone’s playing.</li>
                <li class="benefit-item">Your sportsbook shines all the time.</li>
            </ul>

            <div class="cta-buttons" style="display: flex; justify-content: flex-start; gap: 20px;">
                <a href="#" class="btn btn-primary">Talk to Us</a>
            </div>
        </div>
        <div class="hero-image-container">
            <img src="assets/image/sport-2.png" alt="Happy man with soccer ball" class="hero-image">
        </div>
    </div>
     <div class="package-cards-grid-wrapper">
        <h2 class="section-title package-title">Your 2026 Winning Package</h2>

        <div class="package-cards-grid">
            
            <div class="package-card">
                <div class="card-row">
                    <div class="card-icon-package icon-realtime">
                        <img src="assets/image/package/feature-1.png" alt="Engagement Icon">
                    </div>
                    <h3 class="card-title">Real-time odds</h3>
                </div>
                <p class="card-description">
                    Higher bet volume, fewer player drop-offs.
                </p>
            </div>

            <div class="package-card">
                <div class="card-row">
                     <div class="card-icon-package icon-language">
                     <img src="assets/image/package/package-2.png" alt="Engagement Icon">
                </div>
                <h3 class="card-title">Multi-language support</h3>
                </div>
                 <p class="card-description">
                    Reach players across Asia, LATAM, and Europe.
                </p>
            </div>

            <div class="package-card">
                <div class="card-row">
                    <div class="card-icon-package">
                     <img src="assets/image/package/feature-2.png" alt="Engagement Icon">
                </div>
                 <h3 class="card-title">Risk tools</h3>
                </div>
                <p class="card-description">
                    Cut fraud, keep profits stable.
                </p>
            </div>

            <div class="package-card">
                <div class="card-row">
                    <div class="card-icon-package">
                    <img src="assets/image/package/package-3.png" alt="Engagement Icon">
                </div>
                <h3 class="card-title">Fast integration</h3>
                </div>
                 <p class="card-description">
                    Launch before World Cup 2026.
                </p>
            </div>
        </div>
        <div class="cta-buttons">
            <a href="#" class="btn btn-primary">Talk to Us</a>
            <a href="#" class="btn btn-secondary">Our Website</a>
        </div>
    </div>
</div>