<div id="one-api" class="one-api-container">
  <div class="one-api-content">
    <div class="mask-gift-1"><img src="assets/image/one_api_gift_1.png" /></div>
    <div class="mask-gift-2"><img src="assets/image/one_api_gift_2.png" /></div>
    <div class="content-header">{providers_title}</div>
    <div class="content-info">{providers_subtitle}</div>
    <div class="categories-render">
      <div class="category-button" onclick="toggleCategory(this, 'sports')">{category_sports}</div>
      <div class="category-button" onclick="toggleCategory(this, 'slots')">{category_slots}</div>
      <div class="category-button" onclick="toggleCategory(this, 'dealers')">{category_live}</div>
      <div class="category-button" onclick="toggleCategory(this, 'fishings')">{category_arcade}</div>
    </div>
    <div class="default-render">
      <div class="logo"><img src="assets/image/providers/colors/sbobet.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/568win.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/sabasports.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/btisports.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/pandasports.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/funkygames.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/aviatrix.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/evolution.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/spribe.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/pragmaticplay.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/sexygaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/jili.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/yggdrasil.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/biggaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/playtech.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/pgsoft.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/sagaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/microgaming.png" /></div>
    </div>
    <div class="sports-render" style="display: none;">
      <div class="logo"><img src="assets/image/providers/sports/sbobet.png" /></div>
      <div class="logo"><img src="assets/image/providers/sports/568win.png" /></div>
      <div class="logo"><img src="assets/image/providers/sports/sabasports.png" /></div>
      <div class="logo"><img src="assets/image/providers/sports/btisports.png" /></div>
      <div class="logo"><img src="assets/image/providers/sports/pandasports.png" /></div>
      <div class="logo"><img src="assets/image/providers/sports/apgaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/sports/luckysports.png" /></div>
      <div class="logo"><img src="assets/image/providers/sports/afbsports.png" /></div>
      <div class="logo"><img src="assets/image/providers/sports/ws168.png" /></div>
    </div>
    <div class="slots-render" style="display: none;">
      <div class="logo"><img src="assets/image/providers/slots/568win.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/568wingames.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/sbobet.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/pragmaticplay.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/jili.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/pgsoft.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/afbgaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/playtech.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/microgaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/ygr.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/habanero.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/yggdrasil.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/live22metaverse.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/jokergaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/worldmatch.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/relaxgaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/kingmidas.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/advantplay.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/funkygames.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/cq9.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/bigtimegaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/netent.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/nolimitcity.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/rich88.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/playstar.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/kagaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/fachai.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/gameplay.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/cc88.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/lambda.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/jdb.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/clotplay.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/pegasus.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/dragoonsoft.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/nextspin.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/booongo.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/tomhorn.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/tadagaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/phoenix7.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/5ggames.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/poggiplay.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/fastspin.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/apollo.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/vgaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/nagagames.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/xpans.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/vagaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/luckymoco.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/splus.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/royalslot.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/idnslot.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/hacksawgaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/slots/africanbuffalo.png" /></div>
    </div>

    <div class="dealers-render" style="display: none;">
      <div class="logo"><img src="assets/image/providers/dealers/568win.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/evolution.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/sexygaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/sagaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/pragmaticplay.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/biggaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/playtech.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/afbcasino.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/yeebetgaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/wammai.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/oggaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/ioncasino.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/mikiworld.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/dreamgaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/allbet.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/gameplay.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/greendragon.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/ezugi.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/playace.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/mt.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/wcasino.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/kissgaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/dealers/viacasino.png" /></div>
    </div>

    <div class="fishings-render" style="display: none;">
      <div class="logo"><img src="assets/image/providers/fishings/funkygames.png" /></div>
      <div class="logo"><img src="assets/image/providers/fishings/cq9.png" /></div>
      <div class="logo"><img src="assets/image/providers/fishings/spribe.png" /></div>
      <div class="logo"><img src="assets/image/providers/fishings/aviatrix.png" /></div>
      <div class="logo"><img src="assets/image/providers/fishings/jili.png" /></div>
      <div class="logo"><img src="assets/image/providers/fishings/jokergaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/fishings/93connect.png" /></div>
      <div class="logo"><img src="assets/image/providers/fishings/mikiworld.png" /></div>
      <div class="logo"><img src="assets/image/providers/fishings/bolegaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/fishings/tcgaming.png" /></div>
    </div>
    <div class="button-group">
      <a href="#start-now" class="btn-primary">{download_guide}</a>
      <a href="https://www.568win.com/API.html" class="btn-secondary" target="_blank">{visit_site}</a>
    </div>
  </div>
</div>