<div id="one-api" class="one-api-container">
  <div class="one-api-content">
    <div class="mask-gift-1"><img src="assets/image/one_api_gift_1.png" /></div>
    <div class="mask-gift-2"><img src="assets/image/one_api_gift_2.png" /></div>
    <div class="content-header">80+ Game Providers. One API.</div>
    <div class="content-info">Integrate once and get instant access to 80+ global game providers.</div>
    <div class="categories-render">
      <div>Sports</div>
      <div>Slots</div>
      <div>Live Dealer</div>
      <div>Fishing / Arcade</div>
    </div>
    <div class="one-api-render">
      <div class="logo"><img src="assets/image/providers/colors/sbobet.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/568win.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/sabasports.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/btisports.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/pandasports.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/funkygames.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/aviatrix.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/evolution.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/spribe.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/pragmaticplay.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/sexygaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/jili.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/yggdrasil.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/biggaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/playtech.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/pgsoft.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/sagaming.png" /></div>
      <div class="logo"><img src="assets/image/providers/colors/microgaming.png" /></div>
    </div>
    <div class="button-group">
      <a href="#start" class="btn-primary">Download Guide</a>
      <a href="https://www.568win.com/API.html" class="btn-secondary" target="_blank">Visit Site</a>
    </div>
  </div>
</div>