<div id="operators" class="operator-container">
  <div class="background-container">
    <img src="assets/image/operator.jpg" class="operator-background" />
      <div class="operator-container-wrapper">
        <h2 class="prepare-title">How to Prepare Your Sportsbook for World Cup 2026</h2>
        <p class="prepare-description">
            The FIFA World Cup 2026 will drive record betting traffic worldwide. With an all-in-one sportsbook API aggregator, operators can integrate 80+ providers, enable real-time odds feed, and expand markets instantly. Get ready with seamless sports betting API integration before kick-off.
        </p>
        <div class="ctn-buttons">
            <a href="#" class="btn btn-primary">Get Your API Demo</a>
        </div>
    </div>
  </div>
</div>