<div id="operators" class="operator-container">
  <div class="background-container">
    <img src="assets/image/operator.jpg" class="operator-background" />
  </div>
  <div class="operator-content">
    <div class="content-header">How to Prepare Your Sportsbook for World Cup 2026</div>
    <div class="content-info">The FIFA World Cup 2026 will drive record betting traffic worldwide.With an all-in-one sportsbook API aggregator, operators can integrate 85+ providers, enable real-time odds feed, and expand markets instantly.Get ready with seamless sports betting API integration before kickoff.</div>
    <div class="button-group">
      <div class="btn-primary">Get Your API Demo</div>
    </div>
  </div>
</div>