<div id="opportunity" class="opportunity-container">
  <div class="background-container">
    <img src="assets/image/opportunity.jpg" class="opportunity-background" />
      <div class="opportunity-content">
            <h2 class="opportunity-title">Don't Miss the Biggest Betting Opportunity in 2026</h2>
            <p class="opportunity-description">
                The FIFA World Cup is the most-watched sporting event globally, with billions of fans generating record-breaking betting activity. Operators and integrators who fail to integrate stable and real-time API risk losing market share.
            </p>
            <div class="feature-cards">
                <div class="card">
                    <div class="card-icon">
                        <img src="assets/image/icon_leagues.png" alt="Chart Icon" class="card-image">
                    </div>
                    <p class="card-text">World Cup 2022 attracted 1.8 billion live betting interactions (FIFA data).</p>
                </div>
                <div class="card">
                    <div class="card-icon">
                        <img src="assets/image/icon_traffic.png" alt="Chart Icon" class="card-image">
                    </div>
                    <p class="card-text">Sportsbook traffics surges up to 300% during major tournaments.</p>
                </div>
                <div class="card">
                    <div class="card-icon">
                        <img src="assets/image/icon_instant.png" alt="Chart Icon" class="card-image">
                    </div>
                    <p class="card-text">Flexes demand-induced rebates, live odds, and seamless multi-device support.</p>
                </div>
            </div>
            <a href="#" class="btn btn-primary">Book or Call</a>
        </div>
  </div>
</div>