<div id="opportunity" class="opportunity-container">
  <div class="background-container">
    <img src="assets/image/opportunity.jpg" class="opportunity-background" alt="Opportunity Background" />
    <div class="opportunity-content">
      <h2 class="opportunity-title">{opportunity_title}</h2>
      <p class="opportunity-description">{opportunity_description}</p>
      
      <div class="feature-cards">
        <div class="card">
          <div class="card-icon">
            <img src="assets/image/icon_leagues.png" alt="{feature_1_alt}" class="card-image">
          </div>
          <p class="card-text">{feature_1_text}</p>
        </div>
        <div class="card">
          <div class="card-icon">
            <img src="assets/image/icon_traffic.png" alt="{feature_2_alt}" class="card-image">
          </div>
          <p class="card-text">{feature_2_text}</p>
        </div>
        <div class="card">
          <div class="card-icon">
            <img src="assets/image/icon_instant.png" alt="{feature_3_alt}" class="card-image">
          </div>
          <p class="card-text">{feature_3_text}</p>
        </div>
      </div>

      <a href="#" class="btn btn-primary">{opportunity_cta}</a>
    </div>
  </div>
</div>
