<div id="start-now">
  <div class="register-container">
    <div class="register-content">
      <div class="info-mobile-section">
        <div class="header">{contact_header}</div>
        <div class="title">{contact_subtitle}</div>
      </div>
      <div class="mask-chip-1"><img src="assets/image/register_chip_1.png" /></div>
      <div class="mask-chip-2"><img src="assets/image/register_chip_2.png" /></div>
      <div class="register-mask"><img src="assets/image/register_mask.png" /></div>
      <div class="info-section">
        <div class="info-desktop-section">
          <div class="header">{contact_header}</div>
          <div class="title">{contact_subtitle}</div>
        </div>
        <div class="info-group">
          <button onclick="handleSubmit()" class="B_WC26_form_SubmitRequest btn-primary">{submit_request}</button>
          <a href="https://t.me/sbo568winmk" class="B_WC26_form_TGBtn btn-info" target="_blank">
            <img src="assets/image/icons/telegram40x40.png" />
            <span>{telegram_handle}</span>
          </a>
          <a href="https://wa.me/886912229350" class="B_WC26_form_WhatsAppBtn btn-info">
            <img src="assets/image/icons/whatsapp40x40.png" />
            <span>{whatsapp_label}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-container" style="display:none">
    <div class="background-container">
      <img src="assets/image/contact.jpg" class="contact-background" />
    </div>
    <div class="contact-content">
      <div class="main-contact-info">
        <div class="contact-button-group">
          <a href="https://www.568win.best/API.html" class="contact-icon"><img src="assets/image/icons/website.png" /></a>
          <a href="https://t.me/sbo568winmk" class="contact-icon" target="_blank"><img src="assets/image/icons/telegram.png" /></a>
          <a href="https://www.instagram.com/sbobet_568win_asia" class="contact-icon"><img src="assets/image/icons/instagram.png" /></a>
        </div>
        <div class="copyright-info">{copyright}</div>
      </div>
    </div>
  </div>
</div>