<div id="start">
  <div class="register-container">
    <div class="background-container">
      <img src="assets/image/register.jpg" class="register-background" />
      <div class="register-container-wrapper">
            <div class="contact-form-column">
            <h3 class="form-title">Get Your API Access Before World Cup Kick-off</h3>
            
            <form class="api-access-form">
                <input type="text" placeholder="Name" required>
                <input type="email" placeholder="Mail" required>
                <textarea placeholder="Message"></textarea>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
            
        </div>
        <div class="contact-details-column">
            <h3 class="details-title">Contact Details</h3>
            
            <p class="details-text">
                Rooted in Asia, 568Win has established 15+ years of collaboration with eGR award-winning Asian operator.
            </p>
            
            <div class="contact-links">
                <a href="#" class="contact-link">
                    <img src="assets/image/footer/telegram.png" alt="social icon"> @sbo568winmk
                </a>
                <a href="#" class="contact-link">
                   <img src="assets/image/footer/whatsapp.png" alt="social icon"> SBO 568Win Marketing
                </a>
            </div>
        </div>
         <img src="assets/image/footer/coin-1.png" class="coin coin-top" alt="" aria-hidden="true">
        <img src="assets/image/footer/coin-2.png" class="coin coin-bottom" alt="" aria-hidden="true">
      </div>
    </div>
  </div>
  <div class="contact-container">
    <div class="background-container">
      <img src="assets/image/contact.jpg" class="contact-background" />
      <div class="contact-container-wrapper">
        <div class="social-icons">
               <img src="assets/image/footer/contact us.png" alt="social icon" style="width: 198pxxs;">
        </div>
         <p class="copyright-text">
                © 2025 by 568Win Powered and secured by SBOBET
            </p>
      </div>
    </div>
  </div>
</div>