<div id="start">
  <div class="register-container">
    <div class="background-container">
      <img src="assets/image/register.jpg" class="register-background" width="1920" height="960" loading="lazy" alt="568Win Registration Section Background" />
    </div>
  </div>
  <div class="contact-container">
    <div class="background-container">
      <img src="assets/image/contact.jpg" class="contact-background" width="1920" height="174" loading="lazy" alt="568Win Contact Section Background" />
    </div>
  </div>
</div>