<div id="risk-margin" class="risk-margin-container">
  <div class="risk-margin-content">
    <div class="risk-margin-mask"><img src="assets/image/api_texture.png" /></div>
    <div class="risk-margin-intro">
      <div class="content-header">Risk & Margin Section</div>
      <div class="content-title">Advanced Risk & Margin Engine</div>
      <div class="content-info">Our risk algorithms protect operators from abnormal behaviors, including:</div>
      <div class="mini-risk-margin-mask"><img src="assets/image/api_texture.png" /></div>
      <div class="betting-intro">
        <div class="intro-item">
          <div class="icon"><img src="assets/image/icons/icon_correct_green.png" /></div>
          <div class="content">Group betting detection</div>
        </div>
        <div class="intro-item">
          <div class="icon"><img src="assets/image/icons/icon_correct_green.png" /></div>
          <div class="content">Real-time exposure monitoring</div>
        </div>
        <div class="intro-item">
          <div class="icon"><img src="assets/image/icons/icon_correct_green.png" /></div>
          <div class="content">Auto-stake limitations</div>
        </div>
        <div class="intro-item">
          <div class="icon"><img src="assets/image/icons/icon_correct_green.png" /></div>
          <div class="content">Stable margin performance across major events</div>
        </div>
        <div class="intro-item">
          <div class="icon"><img src="assets/image/icons/icon_correct_green.png" /></div>
          <div class="content">Flexible game & market controls</div>
        </div>
        <div class="intro-item">
          <div class="icon"><img src="assets/image/icons/icon_correct_green.png" /></div>
          <div class="content">No minimum guarantee / no setup fee</div>
        </div>
      </div>
      <div class="button-group">
        <a href="#start" class="btn-primary">Download Guide</a>
      </div>
    </div>
  </div>
</div>