<div id="risk-margin" class="risk-margin-container">
  <div class="risk-margin-content">
    <div class="risk-margin-mask"><img src="assets/image/api_texture.png" /></div>
    <div class="risk-margin-intro">
      <div class="content-header">{risk_margin_header}</div>
      <div class="content-title">{risk_margin_title}</div>
      <div class="content-info">{risk_margin_subtitle}</div>
      <div class="mini-risk-margin-mask"><img src="assets/image/api_texture.png" /></div>
      <div class="betting-intro">
        <div class="intro-item">
          <div class="icon"><img src="assets/image/icons/icon_correct_green.png" /></div>
          <div class="content">{risk_feature1}</div>
        </div>
        <div class="intro-item">
          <div class="icon"><img src="assets/image/icons/icon_correct_green.png" /></div>
          <div class="content">{risk_feature2}</div>
        </div>
        <div class="intro-item">
          <div class="icon"><img src="assets/image/icons/icon_correct_green.png" /></div>
          <div class="content">{risk_feature3}</div>
        </div>
        <div class="intro-item">
          <div class="icon"><img src="assets/image/icons/icon_correct_green.png" /></div>
          <div class="content">{risk_feature4}</div>
        </div>
        <div class="intro-item">
          <div class="icon"><img src="assets/image/icons/icon_correct_green.png" /></div>
          <div class="content">{risk_feature5}</div>
        </div>
        <div class="intro-item">
          <div class="icon"><img src="assets/image/icons/icon_correct_green.png" /></div>
          <div class="content">{risk_feature6}</div>
        </div>
      </div>
      <div class="button-group">
        <a href="#start-now" class="B_WC26_Risk_DownloadGuide btn-primary">{download_guide}</a>
      </div>
    </div>
  </div>
</div>