<div id="technical" class="technical-container">
  <div class="technical-content">
    <div class="content-title">Technical Features Grid</div>
    <div class="card-container-render">
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_integration_green.png" /></div>
        <div class="info">One-time integration</div>
      </div>
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_support.png" /></div>
        <div class="info">
          <div>24/7 engineering support &</div>
          <div>onboarding team</div>
        </div>
      </div>
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_traffic.png" /></div>
        <div class="info">
          <div>Operator dashboard for reports &</div>
          <div>custom data</div>
        </div>
      </div>
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_instant.png" /></div>
        <div class="info">
          <div>One-time integration</div>
          <div>→ multi-vertical products</div>
        </div>
      </div>
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_odds.png" /></div>
        <div class="info">
          <div>Multi-provider sports support</div>
          <div>(SBO, BTi, SABA, etc.)</div>
        </div>
      </div>
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_leagues.png" /></div>
        <div class="info">
          <div>High-availability infrastructure</div>
          <div>for WC 2026</div>
        </div>
      </div>
    </div>
  </div>
</div>