<div id="technical" class="technical-container">
  <div class="technical-content">
    <div class="content-title">{technical_title}</div>
    <div class="card-container-render">
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_integration_green.png" /></div>
        <div class="info">{technical_feature1}</div>
      </div>
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_support.png" /></div>
        <div class="info">
          <div>{technical_feature2_line1}</div>
          <div>{technical_feature2_line2}</div>
        </div>
      </div>
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_traffic.png" /></div>
        <div class="info">
          <div>{technical_feature3_line1}</div>
          <div>{technical_feature3_line2}</div>
        </div>
      </div>
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_instant.png" /></div>
        <div class="info">
          <div>{technical_feature4_line1}</div>
          <div>{technical_feature4_line2}</div>
        </div>
      </div>
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_odds.png" /></div>
        <div class="info">
          <div>{technical_feature5_line1}</div>
          <div>{technical_feature5_line2}</div>
        </div>
      </div>
      <div class="card-item">
        <div class="icon"><img src="assets/image/icons/icon_leagues.png" /></div>
        <div class="info">
          <div>{technical_feature6_line1}</div>
          <div>{technical_feature6_line2}</div>
        </div>
      </div>
    </div>
  </div>
</div>