<div id="banner" class="banner-container">
  <div class="background-container">
    <img src="assets/image/banner_count.png" class="banner-background" />
  </div>
  <div class="banner-content">
    <div class="countdown-plate-container">
      <div class="days">
        <label>{days}</label>
        <div class="counter">15</div>
      </div>
      <div class="hours">
        <label>{hours}</label>
        <div class="counter">20</div>
      </div>
      <div class="minutes">
        <label>{minutes}</label>
        <div class="counter">45</div>
      </div>
      <div class="seconds">
        <label>{seconds}</label>
        <div class="counter">27</div>
      </div>
    </div>
    <div class="content-header">{banner_header}</div>
    <div class="content-title">{banner_title}</div>
    <div class="content-info">{banner_subtitle}</div>
    <div class="button-group">
      <a href="https://t.me/sbo568winmk" class="btn-tertiary" target="_blank">{download_guide}</a>
      <a href="https://www.568win.com/API.html" class="btn-secondary" target="_blank">{visit_site}</a>
    </div>
  </div>
</div>