<div id="banner" class="banner-container">
  <div class="background-container">
    <img src="assets/image/banner_count.png" class="banner-background" />
  </div>
  <div class="banner-content">
    <div class="countdown-plate-container">
      <div class="days">
        <label>Days</label>
        <div class="counter">15</div>
      </div>
      <div class="hours">
        <label>Hours</label>
        <div class="counter">20</div>
      </div>
      <div class="minutes">
        <label>Minutes</label>
        <div class="counter">45</div>
      </div>
      <div class="seconds">
        <label>Seconds</label>
        <div class="counter">27</div>
      </div>
    </div>
    <div class="content-header">YOUR 2026 WORLD CUP IN ONE CLICK</div>
    <div class="content-info">Connect 568Win Sportsbook and start FIFA 2026 bets</div>
    <div class="button-group">
      <a href="https://t.me/sbo568winmk" class="btn-primary" target="_blank">Talk to Us</a>
      <a href="https://www.568win.com/API.html" class="btn-secondary" target="_blank">Our Website</a>
    </div>
  </div>
</div>