<div id="banner" class="banner-container">
  <div class="background-container">
    <img src="assets/image/banner_count.png" class="banner-background" />
  </div>
  <div class="banner-content">
    <div class="countdown-plate-container">
      <div class="days">
        <label>Days</label>
        <div class="counter">15</div>
      </div>
      <div class="hours">
        <label>Hours</label>
        <div class="counter">20</div>
      </div>
      <div class="minutes">
        <label>Minutes</label>
        <div class="counter">45</div>
      </div>
      <div class="seconds">
        <label>Seconds</label>
        <div class="counter">27</div>
      </div>
    </div>
    <div class="content-header">Your 2026 World Cup API</div>
    <div class="content-title">Built for Real-time Odds, Traffic Surge & Global Scale</div>
    <div class="content-info">Instant data. Seamless performance. Engineered for the highest betting demand in the world.</div>
    <div class="button-group">
      <a href="https://t.me/sbo568winmk" class="btn-tertiary" target="_blank">Download Guide</a>
      <a href="https://www.568win.com/API.html" class="btn-secondary" target="_blank">Visit Site</a>
    </div>
  </div>
</div>