.aggregator-container {
  width: 100%;
  aspect-ratio: 1440 / 1060;
  overflow: hidden;
  position: relative;

  .background-container {
    width: 100%;
    height: 100%;

    .aggregator-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;

    }
  }
  .aggregator-content {
    max-width: 1100px;
    margin: auto;

    .aggregator-mask {
      width: 600px;
      height: 600px;
      position: absolute;
      top: 10px;
      right: 120px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .aggregator-main-info {
      top: 100px;
      position: absolute;
      z-index: 10;
      color: #fff;

      .aggregator-info {
        max-width: 520px;

        .header {
          line-height: 53px;
          font-weight: 800;
          font-size: 42px;
          color: #D9D9D9;
          margin-bottom: 8px;
        }
        .title {
          line-height: 71px;
          font-weight: 800;
          font-size: 56px;
          margin-bottom: 20px;
        }
        .info {
          font-family: Roboto;
          font-weight: 500;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 2%;
          color: #D9D9D9;
        }
      }
      .aggregator-table {
        width: 1200px;
        margin: 100px -50px 70px -50px;

        th {
          height: 56px;
          width: 33.33%;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          padding: 0 20px;

          &.active {
            color: #D9D9D9;
            background: #2B49DB;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            
            &::after {
              content: '';
              display: inline-block;
              width: 40px;
              height: 40px;
              margin-left: 8px;
              background-image: url('../image/icons/icon_correct.png');
              background-size: contain;
              background-repeat: no-repeat;
              vertical-align: middle;
            }
          }
        }
        td {
          height: 80px;
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          border-bottom: 2px solid #F5F5F5;
          padding: 0 20px;

          &.active {
            color: #D9D9D9;
            background: #2B49DB33;

            &::after {
              content: '';
              display: inline-block;
              width: 40px;
              height: 40px;
              margin-left: 8px;
              background-image: url('../image/icons/icon_correct.png');
              background-size: contain;
              background-repeat: no-repeat;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}