.aggregator-container {
  width: 100%;
  aspect-ratio: 1440 / 1060;
  overflow: hidden;

  .background-container {
    width: 100%;
    height: 100%;

    .aggregator-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
}