.api-aggregator-container {
  width: 100%;
  height: 1100px;
  aspect-ratio: 45/38;
  overflow: hidden;
  background: linear-gradient(180deg, #DCDCDC 0%, #F6F6F6 100%);

  .api-aggregator-content {
    height: 100%;
    max-width: 1440px;
    padding: 0 115px 50px 145px !important;
    position: relative;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .api-aggregator-mask {
      width: 600px;
      height: 600px;
      position: absolute;
      top: 50px;
      left: 145px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .api-aggregator-main-info {
      color: #fff;

      .api-aggregator-info {
        max-width: 520px;
        margin-left: auto;

        .header {
          line-height: 40px;
          font-weight: 800;
          font-size: 32px;
          color: #343434;
          margin-bottom: 8px;
        }
        .title {
          color: #2B49DB;
          line-height: 53px;
          font-weight: 800;
          font-size: 42px;
          margin-bottom: 20px;
        }
        .info {
          font-family: Roboto;
          font-weight: 500;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 2%;
          color: #343434;
        }
      }
      .api-aggregator-table {
        width: 1200px;
        margin: 120px auto 20px;

        th {
          height: 56px;
          width: 33.33%;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          padding: 0 20px;
          color: #343434;

          &.active {
            color: #2B49DB;
          }
        }
        td {
          height: 80px;
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;
          border-bottom: 1px solid #6C6C6C;
          padding: 0 20px;
          color: #343434;

          &.active {
            color: #2B49DB;

            &::after {
              content: '';
              display: inline-block;
              width: 32px;
              height: 32px;
              margin-left: 8px;
              background-image: url('../image/icons/icon_correct.png');
              background-size: contain;
              background-repeat: no-repeat;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .api-aggregator-container {
    height: 640px;
    aspect-ratio: 9/16;

    .api-aggregator-content {
      padding: unset !important;

      .api-aggregator-mask {
        display: none;
      }

      .api-aggregator-main-info {
        top: 0 !important;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .api-aggregator-info {
          max-width: 100% !important;
          margin-left: unset !important;

          .header {
            line-height: 28px !important;
            font-size: 24px !important;
          }
          .title {
            font-size: 32px !important;
            line-height: 34px !important;
          }
          .info {
            width: 320px;
            font-size: 13px !important;
            line-height: 20px !important; /* 153.846% */
            letter-spacing: 0.26px !important;
            margin: auto;
          }
        }
      }
      .api-aggregator-table {
        width: 100% !important;
        margin: 32px 0 !important;
        margin-bottom: 0 !important;
        overflow-y: scroll;

        th {
          height: 40px !important;
          font-size: 16px !important;
          line-height: 18px !important;

          &.active {
            color: #fff !important;
            background: #2B49DB !important;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            
            &::after {
              content: '';
              display: none !important;
            }
          }
        }
        td {
          font-size: 12px !important;
          line-height: normal !important;
          text-align: start !important;
          padding: 0 10px !important;
          height: 50px !important;

          &.active {
            color: #2B49DB;
            background: #FFFFFF99 !important;
            
            &::after {
              content: '';
              display: none !important;
            }
          }
        }
      }
    }
  }
}