.competitive-container {
  width: 100%;
  height: 1021px;
  aspect-ratio: 1440/1021;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .background-container {
    width: 100%;
    height: 100%;

    .competitive-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .competitive-content {
    max-width: 1100px;
    position: absolute;
    text-align: center;
    color: #fff;

    .competitive-main-container {
      display: flex;

      .competitive-intro {
        width: 520px;

        .content-header {
          color: #FFF;
          font-size: 32px;
          font-weight: 800;
          line-height: normal;
          margin-bottom: 20px;
          text-align: start;
        }
        .content-info {
          color: #D9D9D9;
          font-family: Roboto;
          font-size: 18px;
          font-weight: 400;
          line-height: 32px; /* 177.778% */
          letter-spacing: 0.36px;
          text-align: start;
        }
      }
      .betting-intro {
        width: 520px;

        .intro-item {
          display: flex;
          align-items: center;
          margin-bottom: 32px;

          .icon {
            width: 40px;
            height: 40px;
            aspect-ratio: 1/1;
            margin-right: 16px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .content {
            color: #D9D9D9;
            font-size: 24px;
            font-weight: 600;
            line-height: normal;
            text-align: start;

            span {
              color: #00FF90;
              font-size: 32px;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
      }
    }
    .card-container-render {
      display: flex;
      gap: 16px;
      margin: 56px 0 40px 0;

      .card-item {
        padding: 45px 24px;
        max-width: 356px;
        height: 280px;
        background: radial-gradient(100% 100% at 47.19% 0%, #1A2F8A 0%, rgba(0, 7, 166, 0.1) 100%);
        border-radius: 40px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          padding: 2px;
          background: linear-gradient(180deg, #2544D1 0%, #6C4EF1 100%);
          border-radius: inherit;
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask-composite: xor;
          -webkit-mask-composite: xor;
        }

        .icon {
          width: 60px;
          height: 60px;
          aspect-ratio: 1/1;
          margin: auto;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .title {
          width: 200px;
          color: #FFF;
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.8px;
          margin-top: 20px;
          margin-bottom: 12px;
        }
        .info {
          width: 200px;
          color: #D9D9D9;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.64px;
        }
      }
    }
    .footer-info {
      color: #D9D9D9;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: 0.36px;
      margin-top: 30px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .competitive-container {
    height: 1148px;
    aspect-ratio: 90/287;

    .competitive-main-container {
      flex-direction: column;
      align-items: center;

      .competitive-intro {
        width: 320px !important;

        .content-header {
          text-align: center !important;
          font-size: 18px !important;
          line-height: normal !important;
          margin-bottom: 12px !important;
        }
        .content-info {
          text-align: center !important;
          font-size: 13px !important;
          line-height: 20px !important;
        }
      }
      .betting-intro {
        margin-top: 26px;
        margin-bottom: 12px;
        width: 320px !important;

        .intro-item {
          margin-bottom: 20px !important;

          .content {
            font-size: 15px !important;

            span {
              font-size: 18px !important;
            }
          }
        }
      }
    }
    .card-container-render {
      flex-direction: column;
      gap: 20px;
      margin: 0 !important;

      .card-item {
        display: flex;
        align-items: center;
        height: 120px !important;
        padding: 20px 26px !important;
        background: radial-gradient(100% 100% at 47.19% 0%, #1A2F8A 0%, rgba(0, 7, 166, 0.1) 100%);
        border-radius: 40px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          padding: 2px;
          background: linear-gradient(180deg, #2544D1 0%, #6C4EF1 100%);
          border-radius: inherit;
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask-composite: xor;
          -webkit-mask-composite: xor;
        }

        .icon {
          width: 40px !important;
          height: 40px !important;
          margin: 0 !important;
          margin-right: 8px !important;
        }
        .title {
          text-align: start;
          font-size: 16px !important;
          letter-spacing: 0.64px !important;
          margin-top: 0 !important;
          margin-bottom: 8px !important;
        }
        .info {
          text-align: start !important;
          font-size: 14px !important;
          letter-spacing: 0.52px !important;
        }
      }
    }
    .footer-info {
      display: none;
    }
  }
}