.competitive-container {
  width: 100%;
  height: 740px;
  aspect-ratio: 1440/740;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .competitive-content {
    width: 100%;
    max-width: 1440px;
    position: relative;
    padding: 0 115px 0 145px !important;

    .competitive-main-container {

      .competitive-intro {
        width: 520px;

        .content-header {
          color: #2B49DB;
          font-size: 32px;
          font-weight: 800;
          line-height: 40px;
        }
        .content-info {
          color: #343434;
          font-family: Roboto;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0.32px;
          margin: 12px 0 20px;
        }
        .betting-intro {

          .intro-item {
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            .icon {
              width: 40px;
              height: 40px;
              aspect-ratio: 1/1;
              margin-right: 16px;

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .content {
              color: #343434;
              font-size: 18px;
              font-weight: 500;
              line-height: 20px;

              span {
                color: #2B49DB;
                font-size: 24px;
                font-weight: 700;
                line-height: normal;
              }
            }
          }
        }
        .button-group {
          justify-content: flex-start;
        }
      }
      .competitive-mask {
        width: 600px;
        height: 600px;
        position: absolute;
        top: 42px;
        right: 115px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .competitive-container {
    height: 929px;

    .competitive-content  {
      position: unset !important;
      padding: unset !important;

      .competitive-main-container {

        .competitive-intro {
          width: 100% !important;

          .content-header {
            width: 320px;
            margin: auto;
            text-align: center !important;
            font-size: 20px !important;
            line-height: normal !important;
            margin-bottom: 8px !important;
            text-align: start !important;
          }
          .content-info {
            width: 320px;
            margin: auto !important;
            text-align: center !important;
            font-size: 13px !important;
            line-height: 20px !important;
            margin-bottom: 20px !important;
            text-align: start !important;
          }
          .betting-intro {
            width: 320px;
            margin: auto;
    
            .intro-item {
              margin-bottom: 8px !important;
    
              .content {
                font-size: 15px !important;
    
                span {
                  font-size: 18px !important;
                }
              }
            }
          }
          .button-group {
            width: 100%;
            position: absolute;
            bottom: 30px;
          }
        }
        .competitive-mask {
          position: unset !important;
          width: 320px !important;
          height: 320px !important;
          aspect-ratio: 1/1;
          margin: auto;
        }
      }
    }
  }
}