.copy-right-container {
  width: 100%;
  height: 130px;
  aspect-ratio: 1440 / 130;
  overflow: hidden;
  position: relative;
  margin: auto;
  background: #D9D9D9;

  .copy-right-content {
    display: flex;
    width: 1440px;
    height: 100%;
    padding: 40px 80px 40px 170px;
    align-items: center;
    flex-shrink: 0;
    margin: auto;

    .copy-right-button-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;

      .copy-right-icon {
        width: 50px;
        height: 50px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .copyright-info {
      flex: auto;
      text-align: end;
      color: #2B49DB;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.56px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .copy-right-container {
    height: 120px !important;

    .copy-right-content {
      width: 100%;
      padding: 0 !important;
      flex-direction: column;
      justify-content: center;

      .copy-right-button-group {
        justify-content: center;
        gap: 16px !important;
        margin-bottom: 20px;
  
        .copy-right-icon {
          width: 32px !important;
          height: 32px !important;
        }
      }
      .copyright-info {
        flex: unset !important;
        text-align: center !important;
        font-size: 12px !important;
        letter-spacing: 0.48px;
      }
    }
  }
}