.feature-container {
  position: relative;
  width: 100%;
  min-height: 800px;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .gradient-background-color {
    z-index: -1;
    width: 1270px;
    height: 1270px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #2B49DB 0%, #FFFFFF 100%);
  }

  .feature-content {
    max-width: 1200px;
    position: absolute;
    text-align: center;
    color: #fff;

    .feature-header {
      font-weight: 800;
      font-size: 56px;
    }

    .card-container-render {
      display: flex;
      gap: 16px;
      margin: 56px 0 80px 0;
      flex-wrap: wrap;

      .card-item {
        padding: 52px 12px;
        max-width: 244px;
        height: 312px;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.4) 100%);
        border-radius: 40px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          padding: 4px;
          background: linear-gradient(180deg, #2B49DB 0%, #D9D9D9 100%);
          border-radius: inherit;
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask-composite: xor;
          -webkit-mask-composite: xor;
        }

        .icon {
          width: 80px;
          height: 80px;
          margin: auto auto 20px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .title {
          font-weight: 700;
          font-size: 24px;
          text-align: center;
          color: #2B49DB;
          margin-bottom: 12px;
        }
        .info {
          font-family: Roboto;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 4%;
          text-align: center;
          color: #343434;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .feature-container {
    height: 640px;

    .gradient-background-color {
      top: 100%;
      border-radius: 1271px;
      background: radial-gradient(59.84% 59.84% at 50.04% 68.43%, #2B49DB 0%, #FFF 100%);
    }

    .feature-content {
      .feature-header {
        color: #2B49DB;
        font-size: 24px !important;
      }

      .card-container-render {
        margin: 24px 0 !important;
        justify-content: center !important;

        .card-item {
          max-width: 186px;
          height: 275px;

        .icon {
          width: 60px;
          height: 60px;
        }
        .title {
          font-size: 17px;
          margin-bottom: 8px;
        }
        .info {
          font-size: 15px;
          line-height: 18px;
        }
        }
      }
    }
  }
}
