.feature-container {
  position: relative;
  width: 100%;
  height: 600px;
  font-family: "Outfit", sans-serif;

  .gradient-background-color {
    z-index: -1;
    width: 1270px;
    height: 1270px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #2B49DB 0%, #FFFFFF 100%);
  }
  .features-section .section-title {
    color: var(--feature-color-text); 
    font-size: 2.8rem;
    margin-bottom: 50px;
}
.section-title {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 15px;
    text-align: center;
    color: #2B49DB;
}
.feature-cards-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto 60px;
}
.feature-card {
    flex-basis: 25%;
    max-width: 230px;
    padding: 45px 20px;
    text-align: center;
    padding: 20px;
   background: radial-gradient(
        circle at center, 
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.05) 50%,
        transparent 100%
    );
    border: 1px solid #ddd;
    border-radius: 40px;
    border-top: 3px solid #2B49DB;
    border-left: 3px solid #2B49DB;
    height: 250px;
}
.feature-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.card-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--feature-color-text);
}
.card-description {
    font-size: 0.95rem;
    color: var(--dark-text);
}
}
@media (max-width: 1024px) {
    .feature-cards-grid {
        flex-wrap: wrap; 
        max-width: 700px;
    }
    
    .feature-card {
        flex-basis: 45%; 
        max-width: 45%;
        margin-bottom: 20px;
    }
    .section-title {
        font-size: 2.2rem; /* slightly smaller than desktop (2.5rem) */
        font-weight: 800;
        margin-bottom: 25px;
    }
}

@media (max-width: 650px) {
    .feature-container {
        height: 1400px;
    }
    
    .feature-cards-grid {
        flex-direction: column;
        gap: 20px;
    }
    
    .feature-card {
        flex-basis: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .gradient-background-color {
        width: 1000px;
        height: 1000px;
        transform: translate(-50%, -100px); /* Adjust position */
    }
    .features-section .section-title {
        color: var(--feature-color-text); 
        font-size: 1rem;
        margin-bottom: 50px;
    }
    .section-title {
    font-size: 1.8rem !important; /* was 1.2rem — now larger */
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.3;
  }
}