.market-container {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1440 / 1520;
  position: relative;

  .market-content {
    width: 100%;
    max-width: 1100px;
    aspect-ratio: 1440 / 720;
    margin: 72px auto;
    display: flex;
    align-items: center;

    .market-mask {
      width: 600px;
      height: 600px;
      position: absolute;
      top: 60px;
      right: 120px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .market-main-info {
      top: 180px;
      z-index: 10;
      color: #fff;
      flex: auto;

      .market-info {
        max-width: 520px;

        .header {
          line-height: 53px;
          font-weight: 800;
          font-size: 42px;
          color: #000;
        }
        .title {
          line-height: 53px;
          font-weight: 800;
          font-size: 42px;
          color: #2B49DB;
        }
        .info {
          font-weight: 500;
          font-size: 20px;
          color: #2A2A2A;
          margin: 40px 10px 0;

          div {
            position: relative;
            padding-left: 24px;
            line-height: 36px;
            margin-top: 20px;

            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              background: #6C4EF1;
              width: 12px;
              height: 12px;
              border-radius: 50%;
            }
          }
        }
        .button-group {
          justify-content: flex-start;
        }
      }
    }
  }
  .package-content {
    width: 100%;
    max-width: 1100px;
    aspect-ratio: 1440 / 800;
    margin: 82px auto;
    color: #fff;

    .content-header {
      font-weight: 800;
      font-size: 52px;
      line-height: 66px;
      color: #2B49DB;
      text-align: center;
      margin-bottom: 52px;
    }

    .card-container-render {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .card-item {
        padding: 26px;
        width: 500px;
        height: 180px;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(245, 245, 245, 0.2) 100%);
        border-radius: 40px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 32px;

        &:nth-child(2n) {
          margin-left: 32px;
        }

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          padding: 4px;
          background: linear-gradient(180deg, #2B49DB 0%, #D9D9D9 100%);
          border-radius: inherit;
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask-composite: xor;
          -webkit-mask-composite: xor;
        }

        .icon {
          width: 60px;
          height: 60px;
          margin-right: 12px;

          img {
            height: 100%;
            object-fit: contain;
          }
        }
        div {
          width: 100%;
          margin-top: 10px;

          .title {
            font-weight: 700;
            font-size: 28px;
            line-height: 35px;
            color: #2B49DB;
            margin-bottom: 12px;
          }
          .info {
            font-weight: 500;
            font-size: 20px;
            color: #343434;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .market-container {
    height: 1512px !important;
    padding: 0 !important;

    .market-content {
      width: 100% !important;
      height: 752px !important;
      padding: 0 !important;
      margin: 0 !important;
      text-align: center;
      display: flex;
      justify-content: center;
      position: relative;

      .market-mask {
        top: 40% !important;
        right: unset;
        width: 320px !important;
        height: 320px !important;
        aspect-ratio: 1/1;
        margin: auto;
      }
      .market-info {

        .header {
          line-height: 28px !important;
          font-size: 24px !important;
        }
        .title {
          line-height: 28px !important;
          font-size: 24px !important;
        }
        .info {
          width: 320px !important;
          text-align: start;
          font-size: 16px !important;
          margin: 34px auto !important;

          div {
            line-height: 36px !important;
            margin-top: 0 !important;

            &::before {
              width: 8px !important;
              height: 8px !important;
            }
          }
        }
        .button-group {
          margin-top: 400px !important;
        }
      }
    }

    .package-content {
      width: 100% !important;
      height: 760px !important;
      padding: 46px 0 !important;
      margin: 0 !important;
      text-align: center;

      .content-header {
        width: 210px !important;
        font-size: 24px !important;
        line-height: 32px !important;
        margin: 0 auto !important;
      }
      .card-container-render {
        width: 100% !important;
        padding: 20px !important;

        .card-item {
          height: 100px !important;
          margin-bottom: 12px !important;
          border-radius: 25.6px !important;
          padding: 15px 20px !important;

          &:nth-child(2n) {
            margin-left: 0 !important;
          }

          &::before {
            padding: 2px !important;
          }

          .icon {
            margin: 0 12px 0 0 !important;
            width: 40px !important;
            height: 40px !important;
            flex-shrink: 0;
            aspect-ratio: 1/1;
          }
          div {
            text-align: start !important;
            margin-top: 0 !important;

            .title {
              font-size: 18px !important;
              line-height: 24px !important;
              margin-bottom: 2px !important;
            }
            .info {
              width: 216px;
              font-size: 14px !important;
            }
          }
        }
      }
    }
  }
}