.operator-container {
  width: 100%;
  aspect-ratio: 1440 / 480;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .background-container {
    width: 100%;
    height: 100%;

    .operator-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
  .operator-content {
    max-width: 1050px;
    position: absolute;
    text-align: center;
    color: #D9D9D9;

    .content-header {
      font-weight: 800;
      font-size: 42px;
      line-height: 53px;
      letter-spacing: 0%;
    }
    .content-info {
      font-family: Roboto;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      padding: 20px;
    }
  }
}