.opportunity-container {
  width: 100%;
  aspect-ratio: 1440 / 640;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .background-container {
    width: 100%;
    height: 100%;

    .opportunity-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .opportunity-content {
    max-width: 1100px;
    position: absolute;
    text-align: center;
    color: #fff;

    .content-header {
      font-weight: 800;
      font-size: 42px;
      line-height: 53px;
      letter-spacing: 0%;
    }
    .content-info {
      color: #D9D9D9;
      max-width: 1000px;
      font-family: Roboto;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 2%;
      text-align: center;
      margin: 20px auto auto;
    }
    .card-container-render {
      display: flex;
      gap: 16px;
      margin: 56px 0 40px 0;

      .card-item {
        padding: 24px 45px;
        max-width: 356px;
        height: 240px;
        background: radial-gradient(100% 100% at 47.19% 0%, #1A2F8A 0%, rgba(0, 7, 166, 0.1) 100%);
        border-radius: 40px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          padding: 2px;
          background: linear-gradient(180deg, #2544D1 0%, #6C4EF1 100%);
          border-radius: inherit;
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask-composite: xor;
          -webkit-mask-composite: xor;
        }

        .icon {
          width: 80px;
          height: 80px;
          margin-bottom: 12px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .info {
          font-weight: 600;
          font-size: 20px;
          letter-spacing: 4%;
          color: #D9D9D9;
          text-align: start;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .opportunity-container {
    height: 1000px;
    aspect-ratio: 9/25;

    .content-header {
      font-size: 24px !important;
      line-height: 28px !important;
    }
    .card-container-render {
      flex-direction: column;
      align-items: center;
    }
    .content-info {
      font-size: 13px !important;
      line-height: 20px !important;
      letter-spacing: 0.26px !important;
    }
    .card-container-render {
      gap: 16px;
      margin: 20px !important;

      .card-item {
        padding: 24px !important;
        height: 200px !important;

        .info {
          font-size: 16px !important;
        }
      }
    }
  }
}