.provider-container {
  width: 100%;
  aspect-ratio: 1440 / 640;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .background-container {
    width: 100%;
    height: 100%;

    .provider-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .provider-content {
    max-width: 960px;
    position: absolute;
    text-align: center;
    color: #fff;

    .content-header {
      font-weight: 800;
      font-size: 52px;
      margin-bottom: 12px;

      span.text-primary {
        color: #00FF90;
      }
    }
    .content-info {
      font-family: Roboto;
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 2%;
      text-align: center;
      color: #D9D9D9;
      margin-bottom: 20px;
    }
    .categories-render {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      height: 40px;

      div {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 160px;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 40px;

        font-weight: 500;
        font-size: 16px;
      }
    }
    .providers-render {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      max-width: 960px;
      margin: 40px 0 60px 0;
      row-gap: 16px;

      .logo {
        width: 120px;
        height: 48px;
        margin-left: 20px;

        &:nth-child(7n + 1) {
          margin-left: 0;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}