.provider-container {
  width: 100%;
  aspect-ratio: 1440 / 640;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .background-container {
    width: 100%;
    height: 100%;

    .provider-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .provider-content {
    max-width: 960px;
    position: absolute;
    text-align: center;
    color: #fff;

    .content-header {
      font-weight: 800;
      font-size: 52px;
      margin-bottom: 12px;

      span.text-primary {
        color: #00FF90;
      }
    }
    .content-info {
      font-family: Roboto;
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 2%;
      text-align: center;
      color: #D9D9D9;
      margin-bottom: 20px;
    }
    .categories-render {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 16px;
      height: 40px;

      div {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 160px;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 40px;

        font-weight: 500;
        font-size: 16px;
      }
    }
    .providers-render {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      max-width: 960px;
      margin: 40px 0 60px 0;
      row-gap: 16px;

      .logo {
        width: 120px;
        height: 48px;
        margin-left: 20px;

        &:nth-child(7n + 1) {
          margin-left: 0;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .provider-container {
    height: 760px;
    aspect-ratio: 9/19;
    position: relative;

    .provider-content {
      text-align: center;
      top: 32px;

      .content-header {
        width: 300px;
        font-size: 26px !important;
        line-height: 127.26%;
        margin: auto;
      }
      .content-info {
        width: 320px;
        font-size: 14px !important;
        line-height: 20px; /* 153.846% */
        letter-spacing: 0.26px; 
        margin: auto;
      }
      .categories-render {
        margin: 18px auto;
        height: unset;
      }

      .providers-render {
        justify-content: center;
        padding: 20px !important;
        margin: 0 !important;
        row-gap: 8px;

        .logo {
          width: 110px;
          height: 36px;

          &:nth-child(1), &:nth-child(3n + 1) {
            margin-left: 0;
          }
          &:nth-child(7n + 1):not(:first-child) {
            margin-left: 20px;
          }
        }
      }
    }
  }
}