.register-container {
  width: 100%;
  height: 720px;
  aspect-ratio: 2/1;
  overflow: hidden;
  position: relative;
  margin: auto;
  background: center / cover no-repeat url("../image/register.png");

  .register-content {
    width: 1440px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 100px;
    position: relative;

    .mask-chip-1 {
      position: absolute;
      top: 0;
      width: 180px;
      height: 180px;
      transform: rotate(-16.067deg);
      aspect-ratio: 1/1;
    }
    .mask-chip-2 {
      position: absolute;
      top: 40%;
      right: 0;
      width: 279px;
      height: 185px;
      aspect-ratio: 279/185;
      filter: blur(4px);
    }

    .info-mobile-section {
      display: none;
    }
    .register-mask {
      width: 600px;
      height: 600px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .info-desktop-section, .info-mobile-section {
      .header {
        font-weight: 800;
        font-size: 28px;
        letter-spacing: 0%;
        text-align: start;
        margin-bottom: 40px;
      }
      .title {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0%;
        color: #D9D9D9;
        text-align: start;
      }
    }
    .info-section {
      height: 70%;
      max-width: 400px;
      text-align: center;
      color: #fff;

      .info-group {
        a {
          cursor: pointer;
          text-decoration: none;

          &:visited {
            color: inherit;
          }
          &:active {
            color: inherit;
          }
          &:hover {
            transform: scale(1.05);
            text-decoration: none;
          }
        }

        .btn-primary {
          width: 100%;
          color: #fff;
          justify-content: center;
          background:#6C4EF1;
          font-weight: 700;
          font-style: Bold;
          font-size: 24px;
          border: unset !important;
          margin-top: 60px;
        }
        .btn-info, .btn-primary {
          display: flex;
          align-items: center;
          padding: 0 20px;
          width: 320px;
          height: 60px;
          border: 2px solid #fff;
          border-radius: 40px;
          cursor: pointer;
          transition: transform 0.3s ease;
          color: #fff;
          margin-bottom: 20px;
          font-size: 20px;
          line-height: 28px;

          &:hover {
            transform: scale(1.05);
            text-decoration: none;
          }

          img {
            height: 40px;
            object-fit: contain;
          }

          span {
            flex: auto;
            padding-left: 20px;
            text-align: start;
          }
        }
      }
    }
  }
}
.contact-container {
  width: 100%;
  aspect-ratio: 1440 / 130;
  overflow: hidden;
  position: relative;
  margin: auto;

  .background-container {
    width: 100%;
    height: 100%;

    .contact-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .contact-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;

    .main-contact-info {
      width: 100%;
      max-width: 1100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .contact-button-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
  
        .contact-icon {
          width: 50px;
          height: 50px;
          transition: transform 0.3s ease;
  
          &:hover {
            transform: scale(1.1);
          }
  
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .copyright-info {
        flex: auto;
        color: #fff;
        text-align: end;
        font-family: Roboto;
        font-size: 14px;
        letter-spacing: 4%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .register-container {
    height: 680px;
    aspect-ratio: 180/361;
    background: center / cover no-repeat url("../image/register_mobile.png");

    .register-content {
      width: 100% !important;
      padding: 50px 20px;
      display: block !important;

      .mask-chip-1, .mask-chip-2 {
        display: none;
      }
      .info-mobile-section {
        display: block;
      }
      .register-mask {
        width: 320px;
        height: 320px;
        margin: 20px auto;
      }
      .info-desktop-section {
        display: none;
      }
      .info-desktop-section, .info-mobile-section {
        .header {
          font-size: 16px !important;
          line-height: 20px;
          margin-top: 0 !important;
          margin-bottom: 12px !important;
          color: #00FF90;
        }
        .title {
          color: #D9D9D9;
          font-family: Roboto;
          font-size: 13px !important;
          font-weight: 500;
          line-height: 20px;
        }
      }
      .info-section {
        .info-group {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .btn-primary {
            margin-top: 0 !important;
            padding: 0 27px !important;
          }
          .btn-info {
            border: 1px solid #FFF !important;
          }
          .btn-info, .btn-primary {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 240px !important;
            height: 40px !important;
            font-size: 16px !important;
            line-height: 28px;

            img {
              height: 24px !important;
            }
            span {
              padding-left: 8px !important;
              flex: unset;
            }
          }
        }
      }
    }
  }
  .contact-container {
    height: 120px !important;

    .contact-background {
      height: 118% !important;
    }
    .main-contact-info {
      flex-direction: column;

      .contact-button-group {
        gap: 16px !important;
        margin-bottom: 20px;

        .contact-icon {
          width: 32px !important;
          height: 32px !important;
        }
      }
      .copyright-info {
        font-size: 12px !important;
        letter-spacing: 0.48px;
      }
    }
  }
}