.register-container {
  width: 100%;
  aspect-ratio: 1440 / 720;
  overflow: hidden;
  position: relative;
  margin: auto;

  .background-container {
    width: 100%;
    height: 100%;

    .register-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .register-content {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 100px;
    top: 100px;

    .form-section {
      max-width: 572px;
      text-align: center;
      color: #fff;

      .title {
        max-width: 352px;
        font-weight: 600;
        font-size: 28px;
        letter-spacing: 0%;
        text-align: start;
        margin-bottom: 20px;

        span {
          color: #00FF90;
        }
      }
      .form-info {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: #fff;

        input {
          font-size: 20px;
          height: 40px;
          width: 100%;
          color: #fff;
          outline: unset;
          border: 2px solid #D9D9D9;
          margin-bottom: 20px;
          padding: 10px 20px 10px;
          border-radius: 4px;
          fill: none;
          background: transparent;
        }

        textarea {
          font-size: 20px;
          width: 100%;
          color: #fff;
          resize: vertical;
          outline: unset;
          border: 2px solid #D9D9D9;
          padding: 10px 20px 10px;
          border-radius: 4px;
          fill: none;
          background: transparent;
        }
      }
      .button-group {
        justify-content: start;
      }
    }
    .info-section {
      max-width: 400px;
      text-align: center;
      color: #fff;

      .header {
        font-weight: 800;
        font-size: 28px;
        letter-spacing: 0%;
        text-align: start;
        margin-bottom: 40px;
      }
      .title {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0%;
        color: #D9D9D9;
        text-align: start;
      }
      .info-group {
        .btn-info {
          display: flex;
          align-items: center;
          padding: 0 20px;
          width: 320px;
          height: 60px;
          border: 2px solid #fff;
          border-radius: 40px;
          cursor: pointer;
          transition: transform 0.3s ease;
          color: #fff;
          text-decoration: none;
          
          &:visited {
            color: inherit;
          }
          &:active {
            color: inherit;
          }
          &:hover {
            transform: scale(1.1);
            text-decoration: none;
          }
          &:nth-child(1) {
            margin: 40px 0;
          }

          img {
            height: 40px;
            object-fit: contain;
          }

          span {
            flex: auto;
            padding-left: 20px;
            text-align: start;
          }
        }
      }
    }
  }
}
.contact-container {
  width: 100%;
  aspect-ratio: 1440 / 130;
  overflow: hidden;
  position: relative;
  margin: auto;

  .background-container {
    width: 100%;
    height: 100%;

    .contact-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .contact-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;

    .main-contact-info {
      width: 100%;
      max-width: 1100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .contact-button-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
  
        .contact-icon {
          width: 50px;
          height: 50px;
          transition: transform 0.3s ease;
  
          &:hover {
            transform: scale(1.1);
          }
  
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .copyright-info {
        flex: auto;
        color: #fff;
        text-align: end;
        font-family: Roboto;
        font-size: 14px;
        letter-spacing: 4%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .register-container {
    height: 780px;
    aspect-ratio: 18/41;

    .register-content {
      flex-direction: column !important;
      gap: 20px !important;
      top: 0 !important;
      padding: 30px 20px;

      .form-section {
        .title {
          width: 285px;
          font-size: 16px !important;
          line-height: 24px !important;
        }
        .form-info {
          font-weight: 500;
          font-size: 18px;
          line-height: 32px;
          color: #fff;

          input {
            font-size: 16px !important;
            height: 32px !important;
            border: 1px solid #D9D9D9 !important;
            margin-bottom: 8px !important;
            padding: 12px !important;
          }

          textarea {
            font-size: 16px !important;
            border: 1px solid #D9D9D9 !important;
            padding: 12px !important;
          }
        }
      }
      .info-section {
        .header {
          font-size: 16px !important;
          color: #00FF90;
          margin: 18px 0 !important;
        }
        .title {
          font-size: 14px !important;
        }
        .info-group {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .btn-info {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 240px !important;
            border: 1px solid #FFF !important;
            height: 40px !important;
  
            &:nth-child(1) {
              margin: 20px 0 !important;
            }

            img {
              height: 24px !important;
            }
            span {
              padding-left: 8px !important;
              flex: unset;
            }
          }
        }
      }
    }
  }
  .contact-container {
    height: 120px !important;

    .contact-background {
      height: 118% !important;
    }
    .main-contact-info {
      flex-direction: column;

      .contact-button-group {
        gap: 16px !important;
        margin-bottom: 20px;

        .contact-icon {
          width: 32px !important;
          height: 32px !important;
        }
      }
      .copyright-info {
        font-size: 12px !important;
        letter-spacing: 0.48px;
      }
    }
  }
}