.risk-margin-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1440/733;
  background: center / cover no-repeat url("../image/risk_margin.png");

  .risk-margin-content {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    padding: 0 115px 0 145px !important;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .risk-margin-mask {
      width: 600px;
      height: 600px;
      left: 145px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .risk-margin-intro {
      width: 520px;

      .content-header {
        color: #fff;
        font-size: 32px;
        font-weight: 800;
        line-height: 40px;
      }
      .content-title {
        font-size: 24px;
        color: #D9D9D9;
        line-height: 24px;
        margin: 12px 0;
      }
      .content-info {
        color: #D9D9D9;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        margin-bottom: 20px;
      }
      .mini-risk-margin-mask {
        display: none;
        width: 320px;
        height: 320px;
        aspect-ratio: 1/1;
        margin: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .betting-intro {
        .intro-item {
          display: flex;
          align-items: center;
          margin-bottom: 12px;

          .icon {
            width: 40px;
            height: 40px;
            aspect-ratio: 1/1;
            margin-right: 16px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .content {
            color: #D9D9D9;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
          }
        }
      }
      .button-group {
        justify-content: flex-start;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .risk-margin-container {
    height: 848px;
    aspect-ratio: 45/106;
    background: center / cover no-repeat url("../image/risk_margin_mobile.png");

    .risk-margin-content {
      width: 100%;
      height: 100%;
      padding: 0 !important;
      margin: 0 !important;

      .risk-margin-mask {
        display: none !important;
      }
      .risk-margin-intro {

        .content-header {
          width: 320px;
          margin: auto;
          color: #FFF;
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
        }
        .content-title {
          width: 320px;
          margin: 8px auto;
          color: #D9D9D9;
          font-size: 15px;
          font-weight: 500;
          line-height: normal;
        }
        .content-info {
          width: 320px;
          margin: auto;
          text-align: start;
          color: #D9D9D9;
          font-family: Roboto;
          font-size: 13px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0.26px;
        }
        .mini-risk-margin-mask {
          display: block;
        }
        .betting-intro {
          width: 320px;
          margin: auto;
  
          .intro-item {
            margin-bottom: 8px !important;
  
            .content {
              font-size: 15px !important;
  
              span {
                font-size: 18px !important;
              }
            }
          }
        }
      }
    }
  }
}