.technical-container {
  width: 100%;
  height: 520px;
  aspect-ratio: 36/13;
  background: top / cover no-repeat url("../image/technical.png");
  overflow: hidden;

  .technical-content {
    height: 100%;
    max-width: 1000px;
    text-align: center;
    color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content-title {
      color: #FFF;
      font-size: 52px;
      font-weight: 800;
      line-height: normal;
    }
    .card-container-render {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;

      .card-item {
        display: flex;
        width: 448px;
        height: 80px;
        padding: 10px 8px;
        justify-content: flex-start;
        align-items: center;
        border-radius: 20px;
        background: radial-gradient(100% 100% at 47.19% 0%, #1A2F8A 0%, rgba(0, 7, 166, 0.10) 100%);
        position: relative;

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          padding: 2px;
          background: linear-gradient(180deg, #2544D1 0%, #6C4EF1 100%);
          border-radius: inherit;
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask-composite: xor;
          -webkit-mask-composite: xor;
        }

        .icon {
          width: 45px;
          height: 45px;
          margin-right: 8px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .info {
          font-weight: 600;
          font-size: 20px;
          letter-spacing: 4%;
          color: #D9D9D9;
          text-align: start;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .technical-container {
    width: 100%;
    height: 675px !important;
    aspect-ratio: 1/2;

    .content-title {
      text-align: center;
      font-size: 24px !important;
      font-weight: 700;
    }
    .card-container-render {
      flex-direction: column;
      align-items: center;
    }
    .card-container-render {
      gap: 12px !important;

      .card-item {
        width: 320px !important;
        height: 72px !important;
        padding: 22px 20px !important;

        .icon {
          width: 28px !important;
          height: 28px !important;
          margin-right: 12px !important;
        }
        .info {
          color: #FFF !important;
          font-size: 15px !important;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.6px;
        }
      }
    }
  }
}