.banner-container {
  width: 100%;
  aspect-ratio: 1440 / 800;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .background-container {
    width: 100%;
    height: 100%;

    .banner-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;

    }
  }
  .banner-content {
    max-width: 845px;
    position: absolute;
    text-align: center;
    color: #fff;

    .countdown-plate-container {
      display: flex;
      justify-content: center;
      gap: 75px;

      .days, .hours, .minutes, .seconds {
        text-align: center;
        height: 178px;

        label {
          font-family: Outfit;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 700;
        }
        .counter {
          color: #00FF90;
          text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          font-family: Oswald;
          font-size: 120px;
          font-weight: 700;
          line-height: 120px;
        }
      }
    }

    .content-header {
      font-weight: 900;
      font-size: 72px;
      line-height: 91px;
      letter-spacing: 0%;
    }
    .content-info {
      font-weight: 700;
      font-size: 28px;
      line-height: 35px;
      letter-spacing: 0%;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .banner-container {
    height: 746px;
    aspect-ratio: 180/373;

    .banner-content {
      width: 320px;

      .countdown-plate-container {
        flex-wrap: wrap;
        gap: unset !important;
        margin-bottom: 20px;

        .days {
          width: 100%;

          label {
            color: #FFF;
            text-align: center;
            font-size: 12px !important;
            font-weight: 300 !important;
            line-height: normal !important;
          }
        }
        .hours, .minutes, .seconds {
          text-align: center;
          height: 70px;

          label {
            color: #FFF;
            text-align: center;
            font-size: 12px !important;
            font-weight: 300 !important;
            line-height: normal !important;
          }
          .counter {
            font-size: 42px !important;
            line-height: 42px !important;
          }
        }
        .minutes {
          margin: 0 32px;
        }
      }

      .content-header {
        font-size: 34px !important;
        line-height: normal !important;
      }
      .content-info {
        font-size: 16px !important;
        line-height: 32px !important;
      }
    }
  }
}