:root{
    --primary: #00D177;
    --secondary: #6C4EF1;
    --text-1: white;

    /* Size */
    --max-width: 1200px;
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-1 {
    color: var(--text-1);
}

.text-2 {
    color: #D9D9D9;
}

.font-bold {
    font-weight: bold;
}

.font-8  { font-size: 8px; }
.font-16 { font-size: 16px; }
.font-24 { font-size: 24px; }
.font-28 { font-size: 28px; }
.font-32 { font-size: 32px; }
.font-40 { font-size: 40px; }
.font-42 { font-size: 42px; }
.font-48 { font-size: 48px; }
.font-52 { font-size: 52px; }
.font-56 { font-size: 56px; }
.font-60 { font-size: 60px; }
.font-64 { font-size: 64px; }
.font-72 { font-size: 72px; }
.font-80 { font-size: 80px; }

.base-button {
    display: flex;
    justify-content: center;
    border-radius: 40px;
    border: none;
    height: 60px;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 27px;
}

.btn-normal {
    background: transparent;
    border: 1px solid var(--text-1);
    border-radius: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-1);
    padding: 0 20px;
}

.btn-primary {
    background: var(--primary);
    color: var(--text-1);
}

.btn-secondary {
    background: var(--secondary);
    color: var(--text-1);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gap-8 { gap: 8px; }
.gap-16 { gap: 16px; }
.gap-24 { gap: 24px; }
.gap-32 { gap: 32px; }
.gap-40 { gap: 40px; }
.gap-48 { gap: 48px; }
.gap-56 { gap: 56px; }
.gap-64 { gap: 64px; }
.gap-72 { gap: 72px; }
.gap-80 { gap: 80px; }
