.service-item {
    width: 244px;
    height: 284px;
    border-radius: 40px;
    position: relative;
}
.service-item::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 40px;
    padding: 2px;
    background: linear-gradient(170deg, #2B49DB 0%, #D9D9D9 100%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
}