.thank-you-popup {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: background 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
}

.thank-you-popup.show {
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.5);
}

.thank-you-popup.show .popup-content {
    transform: translateY(0);
    opacity: 1;
}

.popup-content {
    width: 800px;
    overflow: hidden;
    border: 2px solid transparent;
    padding: 100px;
    /* background: linear-gradient(90deg, #1a2f8aeb, #0007A6CC) padding-box, linear-gradient(178deg, #2544D1, transparent, #6C4EF1) border-box; */
    background: linear-gradient(140deg, #2B49DB, #172775) padding-box;
    border-radius: 20px;
    text-align: center;
    transform: translateY(-10vh);
    opacity: 0  ;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

 .popup-content::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/hero/ball.png");
    background-repeat: no-repeat;
    background-size: 430px auto;
    background-position: right 10px bottom 0px;
    z-index: -1;
}


.popup-content .button-container {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.popup-content .title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}

.popup-content .sub-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    color: #D9D9D9;
}

.popup-content .description {
    font-size: 16px;
    font-weight: 500;
    color: #D9D9D9;
}

.popup-btn {
    font-weight: 700;
    height: 55px;
    border-radius: 40px;
    background: #6C4EF1;
    font-size: 20px;
    color: #fff;
    border: none;
    width: 240px;
    text-align: center;
    box-shadow: #030823 0px 10px 20px -10px;
}

.popup-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.popup-btn.close {
    background: #FFFFFF;
    color: #2B49DB;
}



@media screen and (max-width: 700px) {
    .popup-content {
        position: relative;
        overflow: hidden;
        height: 480px;
        border-radius: 20px;
        width: 90%;
        padding: 85px 20px 0 20px;
        & .title {
            font-size: 24px;
        } 
        & .sub-title {
            font-size: 15px;
            color: #D9D9D9;  
        }
        & .description {
            font-size: 13px;
            color: #D9D9D9;
        }
    }
    .popup-content::after {
        background-position: right -50px bottom 0px !important;
    }

    .popup-btn {
        width: 200px;
        height: 40px;
        font-size: 16px;
    }

    .popup-content .button-container {
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }
}