.hero-text {
    margin-top: 134px;
    width: 100%;
    text-align: center;
    color: white;
    display: grid;
    gap: 20px;
}
.hero-text h1 {
    font-size: 72px;
    font-weight: 900;
    margin: 0;
}
.hero-text p {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}
.hero-text .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media screen and ( max-width: 720px) {
    .hero-text {
        height: 740px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: center;
        & p {
            font-size: 24px;
        }
        & h1 {
            font-size: 32px;
        }
        & .button-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & button {
                padding: 0;
                width: 200px !important;
                font-size: 16px;
            }
        }
    }
}